.header_container {
  width: 390px;

  display: flex;
  flex-direction: column;

  background-image: url("./media/bgMenu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.header_container p {
  width: 349px;
  height: 69px;
  text-align: center;
}
.header_container span {
  color: var(--red);
}
.header_container p {
  margin: 28px 20px 45.7px 20px;
  color: #000;
}
